.sidebar-link {
    display: block;
    /* Zmenili sme padding, aby bol naľavo 0 */
    padding: 8px 0; 
    border-radius: 8px; 
    font-size: 1rem; 
  
    &:hover {
      background-color: #F3F4F6; /* Mierne stmavený hover pre lepšiu viditeľnosť (Tailwind gray-100) */
    }
  
    &.active {
      color: #0B4199; 
      font-weight: 600; 
    }
  
    &:not(.active) {
      color: #000000; 
    }
  }
  
  .aside-container {
    display: none;
  }
  
  @media (min-width: 1120px) { 
    .aside-container {
        display: flex;
        flex-direction: column;
    }
  }