.search {
  margin: .5rem !important;

  button {
    cursor: auto !important;
  }

  .idsk-searchbar__button {
    pointer-events: none;
    background-color: rgb(18 109 255/var(--tw-bg-opacity));
  }

}

.small-screen-only {
  display: block;

  @media (min-width: 720px) {
    display: none;
  }
}

.large-screen-only {
  display: none;

  @media (min-width: 720px) {
    display: block;
  }
}

.idsk-custom-scrollbar {
  &::-webkit-scrollbar {
    width: 10px !important;
  }

  &::-webkit-scrollbar-track {
    background: #E0E0E0 !important;
    border-radius: 5px !important;
  }

  &::-webkit-scrollbar-thumb {
    background: #757575 !important;
    border-radius: 10px !important;
  }

  /* Tu zabíjame šípky v Edge a Chrome */
  &::-webkit-scrollbar-button {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
  }
  @supports not selector(::-webkit-scrollbar) {
    scrollbar-width: thin !important;
    scrollbar-color: #757575 #E0E0E0 !important;
  }
}